<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogapi.dao.mapper.TagMapper">
    <select id="findTagsByArticleId" parameterType="java.lang.Long" resultType="com.example.blogapi.dao.pojo.Tag">
        select id,avatar,tag_name as tagName from ms_tag
        where id in
        (select tag_id from ms_article_tag where article_id=#{articleId})
    </select>
    <!--查询第limit条最热参数-->
    <select id="findHotsTagIds" resultType="java.lang.Long" parameterType="int">
        select  tag_id
        from  ms_article_tag
        group by tag_id
        order by count(*) desc
        limit #{limit}
    </select>
    <select id="findTagsByTagId" resultType="com.example.blogapi.dao.pojo.Tag" parameterType="list">
        select id,tag_name as tagName from ms_tag
        where id in
        <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </select>


</mapper>